---
layout: base
---

{% include header.html type="activity" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd>{{ page.type }}</dd>
        <dt>Focus</dt>
        <dd>{{ page.foci | join: ", " }}</dd>
        <dt>People</dt>
        <dd>{{ page.min-people }}+</dd>
        <dt>Time</dt>
        <dd>{{ page.duration }} minute{% if page.duration > 1%}s{% endif %}
          {% if page.duration-type == 'linear' %}
          per person
          {% endif %}</dd>
      </dl>
      <article role="main" class="blog-post">
	      {{ content }}
        <p>{{ page.date | date: "%B %-d, %Y" }} via {{ page.source}}</p>
	    </article>

	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
